*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1F2732;
}

header{
    padding: 30px 120px;
    z-index: 1000;
}

header section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logoYtitulo{
    display: flex;
    align-items: center;
}

.header__logoYtitulo img{
    width: 50px;
}

.header__logoYtitulo h1{
    font-size: 34px;
    margin-left: 14px;
    margin-top: 8px;
    color: white;
    text-decoration: none;
}

.header__logoYtitulo h1 a{
    color: white;
    text-decoration: none;
}

.header__compra{
    display: flex;
    align-items: center;
}

.compra__cart{
    padding-right: 30px;
    display: flex;
    cursor: pointer;
    user-select: none;
}

.compra__cart img{
    width: 20px;
}

.compra__cart p{
    margin-top: 4px;
    margin-left: 8px;
}

.compra__cart p:hover{
    color: #D1B06B;
}

.compra__boton{
    height: 60px;
    width: 180px;
    background: #2E3947;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.compra__boton:hover{
    background: #D1B06B;
    color: #161D27;
}

header article{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    height: 80px;
    border-top: 1px solid #2E3947;
    border-bottom: 1px solid #2E3947;
}

.header__nav .nav__ul{
    list-style: none;
    display: flex;
    position: relative;
}

.header__nav .nav__ul li{
    padding-right: 20px;
    cursor: pointer;
    user-select: none;
}

.header__nav .nav__ul li a{
    color: white;
    text-decoration: none;
}

.header__nav .nav__ul li a:hover,
.header__nav .nav__ul li:hover{
    color: #D1B06B;
}

.header__nav .otras__paginas{
    position: absolute;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #D1B06B;
    top: 40px;
    display: none;
}

.header__contacto{
    display: flex;
}

.header__contacto figure{
    border: 2px solid #D1B06B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    margin-right: 10px;
    border-radius: 50%;
}

.header__telefono{
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color--header{
    color: #D1B06B;
}

.header__correo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo__perfil{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1000;
    border: 1px solid red;
}

.fondo__perfil .fondo__principal{
    width: 98.5vw;
    height: auto;
}
