*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #1F2732;
}

header{
    padding: 30px 120px;
    z-index: 1000;
}

header section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logoYtitulo{
    display: flex;
    align-items: center;
}

.header__logoYtitulo img{
    width: 50px;
}

.header__logoYtitulo h1{
    font-size: 34px;
    margin-left: 14px;
    margin-top: 8px;
    color: white;
    text-decoration: none;
}

.header__logoYtitulo h1 a{
    color: white;
    text-decoration: none;
}

.header__compra{
    display: flex;
    align-items: center;
}

.compra__cart{
    padding-right: 30px;
    display: flex;
    cursor: pointer;
    user-select: none;
}

.compra__cart img{
    width: 20px;
}

.compra__cart p{
    margin-top: 4px;
    margin-left: 8px;
}

.compra__cart p:hover{
    color: #D1B06B;
}

.compra__boton{
    height: 60px;
    width: 180px;
    background: #2E3947;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.compra__boton:hover{
    background: #D1B06B;
    color: #161D27;
}

header article{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    height: 80px;
    border-top: 1px solid #2E3947;
    border-bottom: 1px solid #2E3947;
}

.header__nav .nav__ul{
    list-style: none;
    display: flex;
    position: relative;
}

.header__nav .nav__ul li{
    padding-right: 20px;
    cursor: pointer;
    user-select: none;
}

.header__nav .nav__ul li a{
    color: white;
    text-decoration: none;
}

.header__nav .nav__ul li a:hover,
.header__nav .nav__ul li:hover{
    color: #D1B06B;
}

.header__nav .otras__paginas{
    position: absolute;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #D1B06B;
    top: 40px;
    display: none;
}

.header__contacto{
    display: flex;
}

.header__contacto figure{
    border: 2px solid #D1B06B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    margin-right: 10px;
    border-radius: 50%;
}

.header__telefono{
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color--header{
    color: #D1B06B;
}

.header__correo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo__perfil{
    position: absolute;
    width: 98vw;
    z-index: -1000;
}

.fondo__perfil .fondo__principal{
    width: 98.5vw;
    height: auto;
}

.fondo__perfil div{
    position: absolute;
    top: 164px;
    width: 97vw;
}

.foto__perfil{
    width: 100%;
    height: 98vh;
}

.descricion__perfil{
    padding-left: 120px;
    margin-top: 160px;
}

.descricion__perfil h2{
    color: white;
    margin-top: 10px;
    font-size: 42px;
    max-width: 460px;
}

.descricion__perfil p{
    color: #D1B06B;
    margin-top: 10px;
    font-size: 18px;
    max-width: 460px;
}

.descricion__perfil button{
    background: #D1B06B;
    border: none;
    margin-top: 26px;
    padding: 20px 34px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.section__litijios{
    margin-top: 34%;
    margin-left: 200px;
    /* border: 1px solid red; */
    width: 70vw;
    display: flex;
}

.litijios__img .litijios__img1{
    width: 330px;
    height: 220px;
}

.litijios__img .litijios__img2{
    margin-top: 20px;
    width: 330px;
    height: 220px;
}

.section__litijios .article__litijios{
    color: white;
    margin-left: 40px;
}

.article__litijios h2{
    margin-top: 10px;
    font-size: 28px;
    padding-bottom: 12px;
}

.article__litijios p{
    max-width: 1120px;
    margin-top: 20px;
}

.icon__nombre{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.icon__nombre div{
    background: #161D27;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.icon__nombre img{
    margin-top: 4px;
    width: 78px;
    border-radius: 50%;
}

.icon__nombre h3{
    margin-left: 20px;
}

.exitos__esperiencia{
    margin-top: 36px;
    display: flex;
    align-items: center;
}

.exitos__esperiencia div{
    width: 200px;
    height: 70px;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.litijios__exitos{
    background: #3B434E;
}

.litijios__exitos img{
    margin-left: 30px;
    width: 40px;
}

.litijios__exitos p{
    margin-left: 10px;
    margin-bottom: 16px;
}

.litijios__esperiencia{
    background: #D1B06B;
}

.litijios__esperiencia h3{
    margin-left: 30px;
    padding: 8px 10px;
    border-radius: 4px;
    background: #1F2732;
}

.litijios__esperiencia p{
    margin-left: 10px;
    margin-bottom: 16px;
    color: #1F2732;
}

.areaDe__practica{
    background: #161D27;
    margin-top: 80px;
    height: 800px;
}

.areaDe__practica__descripcion{
    color: white;
    padding-top: 100px;
    margin-top: 100px;
    margin-left: 100px;
    width: 82vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linea__descripcion{
    background: #D1B06B;
    width: 1px;
    height: 80px;
}

.areaDe__practica__parrafo{
    width: 530px;
}

.areaDe__practica__parrafo span{
    color: #D1B06B;
}

.areaDe__practica__article{
    margin-left: 100px;
    margin-top: 40px;
    width: 82vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.areaDe__practica__article .article__cuadro{
    background: #1F2732;
    color: white;
    width: 366px;
    height: 220px;
}

.article__cuadro h3{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
}

.article__cuadro p{
    margin-top: 10px;
    margin-left: 30px;
}

.article__cuadro .linea__cuadro{
    background: #3A4553;
    margin-left: 30px;
    margin-top: 20px;
    height: 1px;
    width: 80%;
}

.article__cuadro__imgBoton{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.article__cuadro__imgBoton img{
    width: 40px;
}

.article__cuadro__imgBoton button{
    background: #161D27;
    border: none;
    padding: 14px 20px;
    color: white;
}

.article__cuadro__imgBoton .diferente--color{
    background: #D1B06B;
    color: #161D27;
}

.ayudar__problema{
    background: white;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.ayudar__problema .ayudar__problema__conten{
    margin-top: 100px;
    width: 80vw;
    height: 800px;
    display: grid;
    justify-items: center;
}

.ayudar__problema__titulo{
    text-align: center;
}

.ayudar__problema__titulo h2{
    font-size: 28px;
}

.ayudar__problema__titulo img{
    margin-top: 20px;
}

.ayuda__parrafo{
    width: 520px;
    text-align: center;
}

.sobre__problemas{
    display: flex;
    align-items: center;
    gap: 30px;
}

.problema__1,
.problema__2{
    background: #eeeeeea6;
    width: 280px;
    height: 120px;
    display: flex;
    align-items: center;
}

.problema__1 img,
.problema__2 img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.problema__p1{
    font-weight: 600;
    font-size: 18px;
    margin-left: 8px;
}

.problema__p2{
    margin-left: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.70);
}

.climinal__defendidos{
    width: 360px;
}

.linea__problema{
    height: 1px;
    width: 1000px;
    background: rgba(0, 0, 0, 0.20);
    margin-top: 30px;
}

.content__partners{
    display: grid;
    place-items: center;
    margin-top: 30px;
}

.title__partners{
    display: flex;
    align-items: center;
}

.title__partners h3{
    font-size: 28px;
    padding: 0px 30px;
}

.iconos__marca{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.iconos__marca img{
    margin-right: 40px;
}

.historia__experimentado{
    height: 900px;
    position: relative;
    display: grid;
    align-items: center;
    place-items: center;
    background: rgba(31, 39, 50, 0.29);
}

.historia__experimentado .he__fondo{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.he__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: rgba(31, 39, 50, 0.85);
    color: white;
    height: 80%;
    width: 80%;
    z-index: 1;
}

.he--section__img{
    height: 80%;
}

.he--section__img img{
    height: 100%;
}

.he__content section{
    height: 80%;
}

.he__primeraSection{
    margin-left: 60px;
    width: 400px;
}

.he__primeraSection div{
    margin-top: 20px;
}

.he__primeraSection img{
    margin-top: 20px;
}

.he__primeraSection h3{
    color: #D1B06B;
}

.he__primeraSection p{
    margin-top: 10px;
}

.he__segundaSection{
    width: 500px;
    margin-right: 60px;
}

.he__segundaSection .primer__div,
.primer__div img{
    margin-top: 20px;
}

.segunda__he--p{
    margin-top: 30px;
}

.primerdiv__rp{
    margin-top: 40px;
}

.range__porsentaje div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range__porsentaje input{
    margin-top: 6px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #D1B06B 0%, #D1B06B 50%, white 50%, white 100%);
    border: 1px solid #1F2732;
    border-radius: 20px;
}

.range__porsentaje input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #D1B06B;
    border-radius: 50%;
    cursor: pointer;
}

.range__porsentaje .range__porsentaje--75{
    background: linear-gradient(to right, #D1B06B 0%, #D1B06B 75%, white 50%, white 100%);
}

.range__porsentaje .range__porsentaje--80{
    background: linear-gradient(to right, #D1B06B 0%, #D1B06B 80%, white 50%, white 100%);
}

.range__porsentaje .range__porsentaje--90{
    background: linear-gradient(to right, #D1B06B 0%, #D1B06B 88%, white 50%, white 100%);
}

.range__porsentaje .range__porsentaje--75::-webkit-slider-thumb{
    margin-left: 120px;
}

.range__porsentaje .range__porsentaje--80::-webkit-slider-thumb{
    margin-left: 150px;
}

.range__porsentaje .range__porsentaje--90::-webkit-slider-thumb{
    margin-left: 182px;
}

.he__segundaSection button{
    margin-top: 40px;
    padding: 16px 28px;
    background: #D1B06B;
    color: #1F2732;
    font-weight: 600;
    border: none;
    cursor: pointer;
    user-select: none;
}


.reseñas_clientes{
    background: #1F2732;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.content_rc{
    color: white;
    width: 70vw;
}

.titulo_rc{
    display: grid;
    place-items: center;
    margin-top: 100px;
}

.titulo_rc img{
   margin-top: 20px;
}

.section_rc{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content__section_rc .content1__descripcion{
    background: #2E3947;
    border-radius: 0px 0px 0px 30px;
    width: 200px;
    height: 200px;
}

.content1__descripcion img{
    margin-top: 24px;
    margin-left: 20px;
    width: 24px;
}

.content1__descripcion p{
    margin-top: 16px;
    margin-left: 20px;
    font-size: 14px;
    width: 160px;
}

.content__section_rc .content2__descripcion{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.content2__descripcion img{
    width: 60px;
    border-radius: 50%;
}

.content2__descripcion p{
    margin-left: 10px;
    font-size: 12px;
}

.content2__descripcion p span{
    font-weight: 600;
    font-size: 14px;
}

.cd--separacion{
    margin-bottom: 10px;
}

.respuestas_abogado{
    width: 100%;
    height: 800px;
    background: white;
}

.respuestas__titulo{
    display: grid;
    justify-content: center;
    text-align: center;
}

.respuestas__titulo div{
    margin-top: 80px;
}

.respuestas__titulo img{
    margin-top: 20px;
    width: 80px;
}

.respuestas__article{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
}

.content__abogados{
    position: relative;
}

.respuestas__article .foto__3abogados{
    width: 220px;
}

.redes__abogados{
    background: white;
    position: absolute;
    bottom: -40px;
    left: 40px;
    height: 80px;
    width: 140px;
    text-align: center;
}

.redes__abogados h3{
    font-size: 14px;
    margin-top: 10px;
}

.redes__abogados p{
    font-size: 14px;
    font-weight: 600;
    color: #D1B06B;
    margin-top: 4px;
}

.redes__socialesAbogados img{
    width: 16px;
    margin-left: 8px;
    margin-top: 8px;
}

.linea__redesNaranja{
    height: 1px;
    width: 64px;
    background: #D1B06B;
    margin-left: 36px;
    margin-top: 6px;
}

.button__Meet{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.button__Meet button{
    padding: 12px 24px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.get__consultasGratis{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: #1F2732;
    color: white;
}

.get__consultasGratis .consul--content{
    height: 340px;
    width: 500px;
}

.anuncio__consulta{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.anuncio__consulta article{
    border: 6px solid #DFDFDF;
    color: black;
    width: 80%;
    height: 80%;
}

.consulta__descripcion h2{
    width: 350px;
    margin-top: 20px;
}

.consulta__descripcion p{
    width: 400px;
    margin-top: 30px;
}

.consulta__descripcion button{
    margin-top: 40px;
    padding: 18px 46px;
    color: #161D27;
    font-weight: 600;
    background: #D1B06B;
    border: none;
    cursor: pointer;
    user-select: none;
}

.anuncio__consulta h2{
    margin-top: 46px;
    margin-left: 26px;
    font-size: 28px;
}

.anuncio__consulta .parrafo__consult{
    margin-top: 20px;
    margin-left: 26px;
    font-size: 14px;
    width: 300px;
    color: rgba(0, 0, 0, 0.70);
}

.anuncio__consulta article div{
    display: flex;
    align-items: center;
    margin-left: 26px;
    margin-top: 30px;
}

.anuncio__consulta article img{
    width: 42px;
}

.anuncio__consulta article p{
    margin-left: 10px;
}

.anuncio__consulta article p span{
    font-weight: 600;
    font-size: 20px;
}

.contactos__abogados{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: white;
    width: 100%;
    height: 800px;
}

.contactos__abogados img{
    width: 100%;
    height: 100%;
}

.contantos__article{
    background: #1F2732;
    width: 70%;
    height: 80%;
    position: absolute;
    display: grid;
    place-items: center;
    margin-top: 10px;
}

.contantos__article div{
    margin-top: 100px;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0px 80px;
}

.contantos__article input{
    border: none;
    border-bottom: 1px solid #3A4553;
    padding-bottom: 10px;
    background: #1F2732;
    color: white;
}

.contantos__article input:focus{
    outline: none;
    border-bottom: 1px solid white;
}

.contantos__article input::placeholder{
    color: white;
}

.contantos__article .input__mensaje{
    margin-top: 20px;
    padding-bottom: 40px;
    width: 210%;
}

.contantos__article button{
    width: 220px;
    height: 70px;
    font-weight: 600;
    margin-bottom: 80px;
    cursor: pointer;
    user-select: none;
}