
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
*{
   margin: 0;
   padding: 0;
 
}
body{
    background: #1F2732;
}
.imagen_principal {
    display: grid;
    place-items: center;
}
.img--pricipal{
width: 50%;
height: 75%;
}
.infarmacion{
    color: #D7D7D7;
}