

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    
}
main{
    background-color: #1F2732;
}
.contenedor{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25px;
    padding-bottom: 16vh;
}
.conte_derecha .encabezado {
    color: #D1B06B;
    font-size: 22px;
}
samp{
    color: #D1B06B;
}
.conte_derecha{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    
  
}
.conte_derecha h2{
    border-top: 2px solid #3A4553;
    color: #FFF;
    font-size: 25px;
    padding: 20px 0px;
    font-weight: 100;
}

.conte_derecha p{
    font-size: 22px;
    color: #D7D7D7; 
}
.conte__blog{
    border: 1px solid rebeccapurple;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    width: 80vw;
    gap: 40px;
    
    

}
.leer_mas p{
    color: #D1B06B;
    text-decoration: underline;
}
.conte_blog_infor{
    width: 450px;
}
.conte_1{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.conte__infor h2{
    color: #FFF;
    border-top: 2px solid #3A4553;
    
}
.conte__infor p{
    padding: 10px 0px;
    color: #D7D7D7;
}
 .leer_mas{
  padding: 20px 0px ;  
}



