
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1F2732;
}

/* -------------------- */
/* -------------------- */
/* -------------------- */

header{
    padding: 30px 120px;
    z-index: 1000;
    height: 500px;
    position: relative;
}

.fondo__header{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

header section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logoYtitulo{
    display: flex;
    align-items: center;
}

.header__logoYtitulo img{
    width: 50px;
}

.header__logoYtitulo h1{
    font-size: 34px;
    margin-left: 14px;
    margin-top: 8px;
}

.header__compra{
    display: flex;
    align-items: center;
}

.compra__cart{
    padding-right: 30px;
    display: flex;
}

.compra__cart img{
    width: 20px;
}

.compra__cart p{
    margin-top: 4px;
    margin-left: 8px;
}

.compra__boton{
    height: 50px;
    width: 160px;
    background: #2E3947;
    display: flex;
    align-items: center;
    justify-content: center;
}

header article{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    height: 80px;
    border-top: 1px solid #4E555F;
    border-bottom: 1px solid #4E555F;
}

.header__nav ul{
    list-style: none;
    display: flex;
}

.header__nav ul li{
    padding-right: 20px;
    cursor: pointer;
    user-select: none;
}

.header__contacto{
    display: flex;
}

.header__contacto figure{
    border: 2px solid #D1B06B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    margin-right: 10px;
    border-radius: 50%;
}

.header__telefono{
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color--header{
    color: #D1B06B;
}

.header__correo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo__pagina{
    margin-top: 100px;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
}

.titulo__pagina img{
    margin-top: 20px;
}

/* -------------------- */
/* -------------------- */
/* -------------------- */

.contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 140px 0px;
}

.cont{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 30px;
}

.cont_img{ 
    width: 600px;
}

.cont_inf{
    width: 100%;
    background-color: #161D27;
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 47px 53px 47px 52px;
}

.cont_inf p samp{
    color: #D1B06B;
    font-size: 20px;
}

.cont_inf h2{
    color: #FFF;
    font-size: 30px;
}

.cont_inf p{
    color: #D7D7D7;
    font-size: 20px;
}

.leer-mas p{
    color: #D1B06B;
    text-decoration: underline;
    font-size: 22px;
}

.botton{
    position: relative;
    height: 260px;
    width: 100%;
}

.contenedor img{
    width: 100%;
    height: 100%;
}

.botton button{
    position: absolute;
    top: 36%;
    left: 22%;
    padding: 24px 100px ;
    font-size: 24px;
    font-weight: 600;
    border: none;
    background-color: #1F2732;
    color: #FFF;
}

.botton .botton_color{
    background-color: #D1B06B;
    color: #1F2732;
}

/* ---------------------------- */

.ayudar__problema{
    background: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__partners{
    display: grid;
    place-items: center;
    margin-top: 30px;
    height: 50%;
}

.title__partners{
    display: flex;
    align-items: center;
}

.title__partners h3{
    font-size: 28px;
    padding: 0px 30px;
}

.iconos__marca{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.iconos__marca img{
    margin-right: 40px;
}

/* ---------------------------- */

.footer{
    margin-top: 40px;
    width: 100%;
    height: 700px;
    background-color: #1F2732;
    display: grid;
    place-items: center;
}

.encavezado{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
    font-size: 32px;
    color: #FFF;
    gap: 8vw;
}

.icono__izqu{
    border-top: 1px solid #3A4553;
    border-bottom:  1px solid#3A4553;
}

.encavezado__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.encavezado__logo img{
    width: 50px;
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 12vh;
}

.footer-links h4 {
    color: #FFFFFF;
    margin-bottom: 25px;
    border-bottom:  1px solid#3A4553;
    border-top: 1px solid #3A4553;
    font-size: 28px;
    padding: 14px;
}

.footer-links ul li{
    margin-top: 10px;
    list-style: none;
}

.footer-links ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #D7D7D7;
}

.footer__separacion {
    margin-top: 20px;
}

.footer-quick{
    display: flex;
    gap: 10vh;
    color: #D7D7D7;
}

.footer-social{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid#3A4553;
    border-top: 1px solid #3A4553;
    color: #FFFFFF;
    margin-top: 60px;
}

.footer__social{
    width: 78%;
    display: flex;
    justify-content: center;
}

.footer-social p span{
    color: #D1B06B;
}

.social-link{
    display: flex;
    align-items: center;
    color: #D1B06B;
    gap: 10px; 
}