*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* ---------------------- */

header{
    padding: 30px 120px;
    z-index: 1000;
}

header section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logoYtitulo{
    display: flex;
    align-items: center;
}

.header__logoYtitulo img{
    width: 50px;
}

.header__logoYtitulo h1{
    font-size: 34px;
    margin-left: 14px;
    margin-top: 8px;
}

.header__compra{
    display: flex;
    align-items: center;
}

.compra__cart{
    padding-right: 30px;
    display: flex;
}

.compra__cart img{
    width: 20px;
}

.compra__cart p{
    margin-top: 4px;
    margin-left: 8px;
}

.compra__boton{
    height: 50px;
    width: 160px;
    background: #2E3947;
    display: flex;
    align-items: center;
    justify-content: center;
}

header article{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    height: 80px;
    border-top: 1px solid #2E3947;
    border-bottom: 1px solid #2E3947;
}

.header__nav ul{
    list-style: none;
    display: flex;
}

.header__nav ul li{
    padding-right: 20px;
    cursor: pointer;
    user-select: none;
}

.header__nav ul li a{
    text-decoration: none;
    color: white;
}

.header__nav ul li a:hover,
.header__nav ul li:hover{
    color: #D1B06B;
}

.header__contacto{
    display: flex;
}

.header__contacto figure{
    border: 2px solid #D1B06B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    margin-right: 10px;
    border-radius: 50%;
}

.header__telefono{
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color--header{
    color: #D1B06B;
}

.header__correo{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------------- */

body{
    background-color: #1F2732;
}

.contenedor{
    text-align: center;
    display: flex;
    justify-content: center;  
}
.contenedor__infor{
    display: flex;
    width: 754px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.contenedor__infor h2{
    margin-top: 60px;
    font-size: 360px;
    color: #D1B06B;
}
.contenedor__infor img{
    width: 95px;
    height: 44px;
    margin-top: -60px;
}
.contenedor__infor h3{
    font-size: 48px;
    color: #FFF;
}
.contenedor__infor p {
    font-size: 18px;
    color: #FFF;
}
.contenedor__infor button{
    background-color: #D1B06B;
    padding: 28px 73px 29px 73px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin-bottom: 30px;
}

/* ---------------------------- */

.footer{
    margin-top: 100px;
    width: 100%;
    height: 700px;
    background-color: #1F2732;
    display: grid;
    place-items: center;
}

.encavezado{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
    font-size: 32px;
    color: #FFF;
    gap: 8vw;
}

.icono__izqu{
    border-top: 1px solid #3A4553;
    border-bottom:  1px solid#3A4553;
}

.encavezado__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.encavezado__logo img{
    width: 50px;
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 12vh;
}

.footer-links h4 {
    color: #FFFFFF;
    margin-bottom: 25px;
    border-bottom:  1px solid#3A4553;
    border-top: 1px solid #3A4553;
    font-size: 28px;
    padding: 14px;
}

.footer-links ul li{
    margin-top: 10px;
    list-style: none;
}

.footer-links ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #D7D7D7;
}

.footer__separacion {
    margin-top: 20px;
}

.footer-quick{
    display: flex;
    gap: 10vh;
    color: #D7D7D7;
}

.footer-social{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid#3A4553;
    border-top: 1px solid #3A4553;
    color: #FFFFFF;
    margin-top: 60px;
}

.footer__social{
    width: 78%;
    display: flex;
    justify-content: center;
}

.footer-social p span{
    color: #D1B06B;
}

.social-link{
    display: flex;
    align-items: center;
    color: #D1B06B;
    gap: 10px; 
}