*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    background-color: #1F2732;
    display: flex;
    justify-content: center;
  
}
.contenedor__background{
    width: 40vw;
    height: 20vh;
    background-color: #D1B06B;
    background-image: url("../imagenes_/Photo\ suabe\ .png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    
}
.contenedor__background .contenedor__icon{
    width: 5vh;
    height: 5vh;
    border-radius: 45px;
    background-color: #1F2732;

    

}
.contenedor__background .contenedor__img{
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
}
.contenedor__background h2{
    font-size: 35px;
}
.contenedor__background p{
    font-size: 16px;
}
.background__img{
    width: 20vw;
    height: 20vh;
    
    
}
.section__tex{
    background-color: #1F2732;
    text-align: center;
    padding: 20px 0px;
   
}
.section__tex h2{
    color: #FFF;
    font-size: 35px;
    margin-bottom: 20px;
   
}
.contenedor_plan{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #1F2732;
    padding-bottom: 90px;
}
.plan{
    text-align: center;
    background-color: #161D27;
    width: 300px;
    
}

.plan__inf{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
    padding: 20px 0;
    gap: 15px;
}
.plan__encabezado  {
    border-bottom:  2px solid  #3A4553;
    text-align: center;
}
.plan__encabezado h2{
    font-size: 35px;
    color: #FFF;
}
.plan__encabezado h4{
    color: #D1B06B;
    font-size: 14px;
}
.plan__valor{
    border-bottom:  2px solid  #3A4553;
    display: flex;
    flex-direction: column;
}
.plan__valor h2{
    color: #D1B06B;
    font-size: 35px;
}
.plan__background{
    margin: auto;
    background-color: #1F2732;
}
.plan__cuerpo {
    border-bottom:  2px solid  #3A4553;
    color: #D7D7D7;
    
   
}
.plan__background{
    width: 4vw;
    display: flex;
    justify-content: center;
    color: #FFF;
    
}

.plan__cuerpo .plan_style{
    padding: 10px;
}
button{
    width: 10vw;
    height: 5vh;
    
}
.background__oscu{
    border: 2px solid #D1B06B;
    background-color: #161D27;
    color: #FFF;
}
.background__dorad{
    border: 2px solid #D1B06B;
    background-color: #D1B06B;
}
.section_contenido{
    padding-top: 60px;
}


.section__finfrma{
    display: flex;
    align-items: center;  
    flex-direction: column;
}
.section__infrmacion{
    gap: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    display: grid;
    place-items: center;
}
.section__infrmacion img{
    width: 95px;
    height: 44px;
}
.contenedor__informacion {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0px 30%;
    column-gap: 20px;
    row-gap: 20px;
   
}
.contenedor__informacion div{
  
    padding-bottom: 40px;
}
.contenedor__informacion h2{
    font-size: 40px;
    padding-bottom: 20px;
}
.contenedor__informacion p{
    color: #909090;
    font-size: 17px;
    border-bottom: 1px solid #C5C5C5;
    padding-bottom: 40px;
}
.section__botton{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.section__botton h2{
    font-size: 28px;
}
.section__botton p {
    font-size: 20px;
    color: #909090;
}
.section__botton button{
    background-color: #D1B06B;
    border: 1px solid #D1B06B;
}
.section_contenido{
    padding: 40px 0px;
}